<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EPA Project{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <a href="{{ path('app_home') }}">Главная</a>
        {% if app.user %}
            | <a href="{{ path('app_logout') }}">Выход ({{ app.user.email }})</a>
        {% else %}
            | <a href="{{ path('app_login') }}">Вход</a>
        {% endif %}
        | <a href="{{ path('app_order') }}">Сделать заказ</a>
    </nav>
    <hr>
</header>

<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>
