{% extends 'base.html.twig' %}

{% block title %}Создать заказ{% endblock %}

{% block body %}
    <h1>Создать заказ</h1>

    {{ form_start(form) }}
    {{ form_row(form.service) }}
    {{ form_row(form.email) }}

    <button class="btn btn-primary">Отправить</button>
    {{ form_end(form) }}

    <div>
        Стоимость: <strong><span id="price">0</span> ₽</strong>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const select = document.querySelector('#{{ form.service.vars.id }}');
            const priceElement = document.getElementById('price');

            const prices = {{ prices|json_encode|raw }};

            function updatePrice() {
                priceElement.textContent = prices[select.value] ?? 0;
            }

            select.addEventListener('change', updatePrice);
            updatePrice();
        });
    </script>
{% endblock %}
